<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">

<body>
    <div th:fragment="medicineList(medicines, producer)">
        <div th:if="${medicines.size() != 0}">
            <div class="w-4/6 mx-auto overflow-y-auto max-h-64">
                <table class="w-full">
                    <thead class="border-b border-blue-800">
                        <tr>
                            <th class="text-left">İsim</th>
                            <th class="text-left">Tür</th>
                            <th class="text-left">Fiyatı</th>
                            <th class="text-left">Seçenekler</th>
                        </tr>
                    </thead>
                    <tbody th:each="medicine: ${medicines}">
                        <tr class="border-b border-gray-200">
                            <td th:text="${medicine.getName()}" class="py-4"></td>
                            <td th:text="${medicine.getType()}"></td>
                            <td th:text="${medicine.getPrice()}"></td>
                            <td class="flex items-center py-4">
                                <a th:href="@{/producers/{producerId}/medicines/show/{medicineId}(producerId=${producer.getId()}, medicineId=${medicine.getId()})}" title="Göster">
                                    <span th:replace="fragments/svg/icons :: showIcon"></span>
                                </a>
                                <a th:href="@{/producers/{producerId}/medicines/edit/{medicineId}(producerId=${producer.getId()}, medicineId=${medicine.getId()})}" class="ml-2" title="Düzenle">
                                    <span th:replace="fragments/svg/icons :: editIcon"></span>
                                </a>
                                <form th:method="post" id="medicineListDeleteForm" th:action="@{/producers/{producerId}/medicines/delete/{medicineId}(producerId=${producer.getId()}, medicineId=${medicine.getId()})}" class="ml-2">
                                    <button type="submit" title="Sil">
                                        <span th:replace="fragments/svg/icons :: deleteIcon"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center" th:unless="${medicines.size() != 0}">Bu kullanıcı için kayıtlı ilaç yok</div>
    </div>
    <script th:inline="javascript">
        document.getElementById("medicineListDeleteForm").addEventListener("click", function (event) {
            if (confirm("Bu Kayıt Silinecek!") == false) {
                event.preventDefault();
            }
        })
    </script>
</body>
</html>